version: '3'

services:

  backend:
    container_name: backend-opener
    image: backend-opener
    build: ./backend
    hostname: backend
    command: >
      sh -c "python manage.py migrate --noinput
      && python manage.py runserver
      0.0.0.0:${DOCKER_BACKEND_PORT}"
    ports:
      - "${DOCKER_BACKEND_PORT}:${DOCKER_BACKEND_PORT}"
    volumes:
      - ./backend:/app
    restart: on-failure
    environment:
      - DJANGO_SETTINGS_MODULE=opener.settings
    env_file:
      - .env
